


/*  PICO REPLACEMENT  */

:root{
	--pico-spacing:5px;
	--pico-border-radius:5px;
}

/*
:root:not([data-theme=dark]),[data-theme=light] {
    --pico-background-color: #fff;
    --pico-color: #373c44;
    --pico-text-selection-color: rgba(2, 154, 232, 0.25);
    --pico-muted-color: #646b79;
    --pico-muted-border-color: #e7eaf0;
    --pico-primary: #0172ad;
    --pico-primary-background: #0172ad;
    --pico-primary-border: var(--pico-primary-background);
    --pico-primary-underline: rgba(1, 114, 173, 0.5);
    --pico-primary-hover: #015887;
    --pico-primary-hover-background: #02659a;
    --pico-primary-hover-border: var(--pico-primary-hover-background);
    --pico-primary-hover-underline: var(--pico-primary-hover);
    --pico-primary-focus: rgba(2, 154, 232, 0.5);
    --pico-primary-inverse: #fff;
    --pico-secondary: #5d6b89;
    --pico-secondary-background: #525f7a;
    --pico-secondary-border: var(--pico-secondary-background);
    --pico-secondary-underline: rgba(93, 107, 137, 0.5);
    --pico-secondary-hover: #48536b;
    --pico-secondary-hover-background: #48536b;
    --pico-secondary-hover-border: var(--pico-secondary-hover-background);
    --pico-secondary-hover-underline: var(--pico-secondary-hover);
    --pico-secondary-focus: rgba(93, 107, 137, 0.25);
    --pico-secondary-inverse: #fff;
    --pico-contrast: #181c25;
    --pico-contrast-background: #181c25;
    --pico-contrast-border: var(--pico-contrast-background);
    --pico-contrast-underline: rgba(24, 28, 37, 0.5);
    --pico-contrast-hover: #000;
    --pico-contrast-hover-background: #000;
    --pico-contrast-hover-border: var(--pico-contrast-hover-background);
    --pico-contrast-hover-underline: var(--pico-secondary-hover);
    --pico-contrast-focus: rgba(93, 107, 137, 0.25);
    --pico-contrast-inverse: #fff;
    --pico-box-shadow: 0.0145rem 0.029rem 0.174rem rgba(129, 145, 181, 0.01698),0.0335rem 0.067rem 0.402rem rgba(129, 145, 181, 0.024),0.0625rem 0.125rem 0.75rem rgba(129, 145, 181, 0.03),0.1125rem 0.225rem 1.35rem rgba(129, 145, 181, 0.036),0.2085rem 0.417rem 2.502rem rgba(129, 145, 181, 0.04302),0.5rem 1rem 6rem rgba(129, 145, 181, 0.06),0 0 0 0.0625rem rgba(129, 145, 181, 0.015);
    --pico-h1-color: #2d3138;
    --pico-h2-color: #373c44;
    --pico-h3-color: #424751;
    --pico-h4-color: #4d535e;
    --pico-h5-color: #5c6370;
    --pico-h6-color: #646b79;
    --pico-mark-background-color: #fde7c0;
    --pico-mark-color: #0f1114;
    --pico-ins-color: #1d6a54;
    --pico-del-color: #883935;
    --pico-blockquote-border-color: var(--pico-muted-border-color);
    --pico-blockquote-footer-color: var(--pico-muted-color);
    --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-table-border-color: var(--pico-muted-border-color);
    --pico-table-row-stripped-background-color: rgba(111, 120, 135, 0.0375);
    --pico-code-background-color: #f3f5f7;
    --pico-code-color: #646b79;
    --pico-code-kbd-background-color: var(--pico-color);
    --pico-code-kbd-color: var(--pico-background-color);
    --pico-form-element-background-color: #fbfcfc;
    --pico-form-element-selected-background-color: #dfe3eb;
    --pico-form-element-border-color: #cfd5e2;
    --pico-form-element-color: #23262c;
    --pico-form-element-placeholder-color: var(--pico-muted-color);
    --pico-form-element-active-background-color: #fff;
    --pico-form-element-active-border-color: var(--pico-primary-border);
    --pico-form-element-focus-color: var(--pico-primary-border);
    --pico-form-element-disabled-opacity: 0.5;
    --pico-form-element-invalid-border-color: #b86a6b;
    --pico-form-element-invalid-active-border-color: #c84f48;
    --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
    --pico-form-element-valid-border-color: #4c9b8a;
    --pico-form-element-valid-active-border-color: #279977;
    --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
    --pico-switch-background-color: #bfc7d9;
    --pico-switch-checked-background-color: var(--pico-primary-background);
    --pico-switch-color: #fff;
    --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    --pico-range-border-color: #dfe3eb;
    --pico-range-active-border-color: #bfc7d9;
    --pico-range-thumb-border-color: var(--pico-background-color);
    --pico-range-thumb-color: var(--pico-secondary-background);
    --pico-range-thumb-active-color: var(--pico-primary-background);
    --pico-accordion-border-color: var(--pico-muted-border-color);
    --pico-accordion-active-summary-color: var(--pico-primary-hover);
    --pico-accordion-close-summary-color: var(--pico-color);
    --pico-accordion-open-summary-color: var(--pico-muted-color);
    --pico-card-background-color: var(--pico-background-color);
    --pico-card-border-color: var(--pico-muted-border-color);
    --pico-card-box-shadow: var(--pico-box-shadow);
    --pico-card-sectioning-background-color: #fbfcfc;
    --pico-dropdown-background-color: #fff;
    --pico-dropdown-border-color: #eff1f4;
    --pico-dropdown-box-shadow: var(--pico-box-shadow);
    --pico-dropdown-color: var(--pico-color);
    --pico-dropdown-hover-background-color: #eff1f4;
    --pico-loading-spinner-opacity: 0.5;
    --pico-modal-overlay-background-color: rgba(232, 234, 237, 0.75);
    --button-bg: #dfe3eb;
    --assistant-bubble-bg: var(--pico-primary-background);
    --pico-tooltip-background-color: var(--pico-contrast-background);
    --pico-tooltip-color: var(--pico-contrast-inverse);
    --pico-icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(76, 155, 138)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    --pico-icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(200, 79, 72)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
    color-scheme: light
}

:root:not([data-theme=dark]) input:is([type=submit],[type=button],[type=reset],[type=checkbox],[type=radio],[type=file]),[data-theme=light] input:is([type=submit],[type=button],[type=reset],[type=checkbox],[type=radio],[type=file]) {
    --pico-form-element-focus-color: var(--pico-primary-focus)
}

@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --pico-background-color:#13171f;
        --pico-color: #c2c7d0;
        --pico-text-selection-color: rgba(1, 170, 255, 0.1875);
        --pico-muted-color: #7b8495;
        --pico-muted-border-color: #202632;
        --pico-primary: #01aaff;
        --pico-primary-background: #0172ad;
        --pico-primary-border: var(--pico-primary-background);
        --pico-primary-underline: rgba(1, 170, 255, 0.5);
        --pico-primary-hover: #79c0ff;
        --pico-primary-hover-background: #017fc0;
        --pico-primary-hover-border: var(--pico-primary-hover-background);
        --pico-primary-hover-underline: var(--pico-primary-hover);
        --pico-primary-focus: rgba(1, 170, 255, 0.375);
        --pico-primary-inverse: #fff;
        --pico-secondary: #969eaf;
        --pico-secondary-background: #525f7a;
        --pico-secondary-border: var(--pico-secondary-background);
        --pico-secondary-underline: rgba(150, 158, 175, 0.5);
        --pico-secondary-hover: #b3b9c5;
        --pico-secondary-hover-background: #5d6b89;
        --pico-secondary-hover-border: var(--pico-secondary-hover-background);
        --pico-secondary-hover-underline: var(--pico-secondary-hover);
        --pico-secondary-focus: rgba(144, 158, 190, 0.25);
        --pico-secondary-inverse: #fff;
        --pico-contrast: #dfe3eb;
        --pico-contrast-background: #eff1f4;
        --pico-contrast-border: var(--pico-contrast-background);
        --pico-contrast-underline: rgba(223, 227, 235, 0.5);
        --pico-contrast-hover: #fff;
        --pico-contrast-hover-background: #fff;
        --pico-contrast-hover-border: var(--pico-contrast-hover-background);
        --pico-contrast-hover-underline: var(--pico-contrast-hover);
        --pico-contrast-focus: rgba(207, 213, 226, 0.25);
        --pico-contrast-inverse: #000;
        --pico-box-shadow: 0.0145rem 0.029rem 0.174rem rgba(7, 9, 12, 0.01698),0.0335rem 0.067rem 0.402rem rgba(7, 9, 12, 0.024),0.0625rem 0.125rem 0.75rem rgba(7, 9, 12, 0.03),0.1125rem 0.225rem 1.35rem rgba(7, 9, 12, 0.036),0.2085rem 0.417rem 2.502rem rgba(7, 9, 12, 0.04302),0.5rem 1rem 6rem rgba(7, 9, 12, 0.06),0 0 0 0.0625rem rgba(7, 9, 12, 0.015);
        --pico-h1-color: #f0f1f3;
        --pico-h2-color: #e0e3e7;
        --pico-h3-color: #c2c7d0;
        --pico-h4-color: #b3b9c5;
        --pico-h5-color: #a4acba;
        --pico-h6-color: #8891a4;
        --pico-mark-background-color: #014063;
        --pico-mark-color: #fff;
        --pico-ins-color: #62af9a;
        --pico-del-color: #ce7e7b;
        --pico-blockquote-border-color: var(--pico-muted-border-color);
        --pico-blockquote-footer-color: var(--pico-muted-color);
        --pico-button-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        --pico-button-hover-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        --pico-table-border-color: var(--pico-muted-border-color);
        --pico-table-row-stripped-background-color: rgba(111, 120, 135, 0.0375);
        --pico-code-background-color: #1a1f28;
        --pico-code-color: #8891a4;
        --pico-code-kbd-background-color: var(--pico-color);
        --pico-code-kbd-color: var(--pico-background-color);
        --pico-form-element-background-color: #1c212c;
        --pico-form-element-selected-background-color: #2a3140;
        --pico-form-element-border-color: #2a3140;
        --pico-form-element-color: #e0e3e7;
        --pico-form-element-placeholder-color: #8891a4;
        --pico-form-element-active-background-color: #1a1f28;
        --pico-form-element-active-border-color: var(--pico-primary-border);
        --pico-form-element-focus-color: var(--pico-primary-border);
        --pico-form-element-disabled-opacity: 0.5;
        --pico-form-element-invalid-border-color: #964a50;
        --pico-form-element-invalid-active-border-color: #b7403b;
        --pico-form-element-invalid-focus-color: var(--pico-form-element-invalid-active-border-color);
        --pico-form-element-valid-border-color: #2a7b6f;
        --pico-form-element-valid-active-border-color: #16896a;
        --pico-form-element-valid-focus-color: var(--pico-form-element-valid-active-border-color);
        --pico-switch-background-color: #333c4e;
        --pico-switch-checked-background-color: var(--pico-primary-background);
        --pico-switch-color: #fff;
        --pico-switch-thumb-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        --pico-range-border-color: #202632;
        --pico-range-active-border-color: #2a3140;
        --pico-range-thumb-border-color: var(--pico-background-color);
        --pico-range-thumb-color: var(--pico-secondary-background);
        --pico-range-thumb-active-color: var(--pico-primary-background);
        --pico-accordion-border-color: var(--pico-muted-border-color);
        --pico-accordion-active-summary-color: var(--pico-primary-hover);
        --pico-accordion-close-summary-color: var(--pico-color);
        --pico-accordion-open-summary-color: var(--pico-muted-color);
        --pico-card-background-color: #181c25;
        --pico-card-border-color: var(--pico-card-background-color);
        --pico-card-box-shadow: var(--pico-box-shadow);
        --pico-card-sectioning-background-color: #1a1f28;
        --pico-dropdown-background-color: #181c25;
        --pico-dropdown-border-color: #202632;
        --pico-dropdown-box-shadow: var(--pico-box-shadow);
        --pico-dropdown-color: var(--pico-color);
        --pico-dropdown-hover-background-color: #202632;
        --pico-loading-spinner-opacity: 0.5;
        --pico-modal-overlay-background-color: rgba(8, 9, 10, 0.75);
        --button-bg: #202632;
        --assistant-bubble-bg: var(--pico-primary-background);
        --pico-tooltip-background-color: var(--pico-contrast-background);
        --pico-tooltip-color: var(--pico-contrast-inverse);
        --pico-icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(42, 123, 111)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
        --pico-icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(150, 74, 80)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
        color-scheme: dark
    }

    :root:not([data-theme]) input:is([type=submit],[type=button],[type=reset],[type=checkbox],[type=radio],[type=file]) {
        --pico-form-element-focus-color: var(--pico-primary-focus)
    }

    :root:not([data-theme]) details summary[role=button].contrast:not(.outline)::after {
        filter: brightness(0)
    }

    :root:not([data-theme]) [aria-busy=true]:not(input,select,textarea).contrast:is(button,[type=submit],[type=button],[type=reset],[role=button]):not(.outline)::before {
        filter: brightness(0)
    }
}
*/




a[role=button] {
    display: inline-block
}
[role=button],[type=button],[type=file]::file-selector-button,[type=reset],[type=submit],button {
    --pico-background-color: var(--button-bg);
    --pico-border-color: var(--pico-primary-border);
    --pico-color: var(--button-text-color);
    --pico-box-shadow: var(--pico-button-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
    padding: 8px 15px;
    border: none;
    border-radius: .5rem;
    outline: 0;
    background-color: var(--button-bg);
    box-shadow: var(--pico-box-shadow);
    color: var(--button-text-color);
    font-weight: var(--pico-font-weight);
    font-size: 1rem;
    line-height: var(--pico-line-height);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /*transition: background-color var(--pico-transition),border-color var(--pico-transition),color var(--pico-transition),box-shadow var(--pico-transition)*/
}

[role=button]:is(:hover,:active,:focus),[role=button]:is([aria-current]:not([aria-current=false])),[type=button]:is(:hover,:active,:focus),[type=button]:is([aria-current]:not([aria-current=false])),[type=file]::file-selector-button:is(:hover,:active,:focus),[type=file]::file-selector-button:is([aria-current]:not([aria-current=false])),[type=reset]:is(:hover,:active,:focus),[type=reset]:is([aria-current]:not([aria-current=false])),[type=submit]:is(:hover,:active,:focus),[type=submit]:is([aria-current]:not([aria-current=false])),button:is(:hover,:active,:focus),button:is([aria-current]:not([aria-current=false])) {
    --pico-background-color: var(--button-hover-bg);
    --pico-border-color: var(--pico-primary-hover-border);
    --pico-box-shadow: var(--pico-button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0));
    --pico-color: var(--button-hover-color)
}

[role=button]:focus,[role=button]:is([aria-current]:not([aria-current=false])):focus,[type=button]:focus,[type=button]:is([aria-current]:not([aria-current=false])):focus,[type=file]::file-selector-button:focus,[type=file]::file-selector-button:is([aria-current]:not([aria-current=false])):focus,[type=reset]:focus,[type=reset]:is([aria-current]:not([aria-current=false])):focus,[type=submit]:focus,[type=submit]:is([aria-current]:not([aria-current=false])):focus,button:focus,button:is([aria-current]:not([aria-current=false])):focus {
    --pico-box-shadow: var(--pico-button-hover-box-shadow, 0 0 0 rgba(0, 0, 0, 0)),0 0 0 var(--pico-outline-width) var(--pico-primary-focus)
}

/*
[type=button],[type=reset],[type=submit] {
    margin-bottom: var(--pico-spacing)
}
*/


[type=checkbox],[type=radio],[type=range],progress {
    accent-color: var(--pico-primary)
}


progress {
    display: inline-block;
    vertical-align: baseline
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    appearance: none;
    width: 100%;
    height: .5rem;
    margin-bottom: calc(var(--pico-spacing) * .5);
    overflow: hidden;
    border: 0;
    border-radius: var(--pico-border-radius);
    background-color: var(--inverted-main-bg-color);
    color: var(--button-hover-bg)
}

progress::-webkit-progress-bar {
    border-radius: var(--pico-border-radius);
    background: 0 0
}

progress[value]::-webkit-progress-value {
    background-color: var(--button-hover-bg);
    -webkit-transition: inline-size var(--pico-transition);
    transition: inline-size var(--pico-transition)
}

progress::-moz-progress-bar {
    background-color: var(--button-hover-bg)
}

@media (prefers-reduced-motion:no-preference) {
    progress:indeterminate {
        background: var(--button-bg) linear-gradient(to right,var(--button-hover-bg) 30%,var(--inverted-main-bg-color) 30%) top left/150% 150% no-repeat;
        animation: progress-indeterminate 1s linear infinite
    }

    progress:indeterminate[value]::-webkit-progress-value {
        background-color: transparent
    }

    progress:indeterminate::-moz-progress-bar {
        background-color: transparent
    }
}

@media (prefers-reduced-motion:no-preference) {
    [dir=rtl] progress:indeterminate {
        animation-direction: reverse
    }
}

@keyframes progress-indeterminate {
    0% {
        background-position: 200% 0
    }

    100% {
        background-position: -200% 0
    }
}



@media (prefers-reduced-motion:reduce) {
    :not([aria-busy=true]),:not([aria-busy=true])::after,:not([aria-busy=true])::before {
        background-attachment: initial!important;
        animation-duration: 1ms!important;
        animation-delay: -1ms!important;
        animation-iteration-count: 1!important;
        scroll-behavior: auto!important;
        transition-delay: 0s!important;
        transition-duration: 0s!important
    }
}

